
@use '../../../styles/palette' as *;
@use '../../../styles/spacing' as *;
@use '../../../styles/typography' as *;

.title {
  margin: 0;
  padding: 0;
  line-height: $title-line-height;
  font-weight: $title-font-weight;
  color: $text-color;

  // Tamaños
  &--h1 {
    font-size: $title-h1-font-size;
    margin-bottom: $title-h1-margin-bottom;
  }

  &--h2 {
    font-size: $title-h2-font-size;
    margin-bottom: $title-h2-margin-bottom;
  }

  &--h3 {
    font-size: $title-h3-font-size;
    margin-bottom: $title-h3-margin-bottom;
  }

  &--h4 {
    font-size: $title-h4-font-size;
    margin-bottom: $title-h4-margin-bottom;
  }

  &--h5 {
    font-size: $title-h5-font-size;
    margin-bottom: $title-h5-margin-bottom;
  }

  &--h6 {
    font-size: $title-h6-font-size;
    margin-bottom: $title-h6-margin-bottom;
  }

  // Variantes de color
  &--primary {
    color: $primary-color;
  }

  &--secondary {
    color: $secondary-color;
  }

  &--danger {
    color: $danger-color;
  }

  &--success {
    color: $success-color;
  }

  &--warning {
    color: $warning-color;
  }

  &--info {
    color: $info-color;
  }

  &--light {
    color: $light-color;
  }

  &--dark {
    color: $dark-color;
  }

  // Estilos de texto
  &--bold {
    font-weight: $title-font-weight-bold;
  }

  &--italic {
    font-style: italic;
  }

  &--underline {
    text-decoration: underline;
  }

  &--strikethrough {
    text-decoration: line-through;
  }

  // Alineación
  &--left {
    text-align: left;
  }


  &--center {
    text-align: center;
  }

  &--right {
    text-align: right;
  }

  &--justify {
    text-align: justify;
  }

  // Otros estilos
  &--block {
    display: block;
    width: 100%;
  }

  &--noWrap {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--clickable {
    cursor: pointer;
    transition: opacity 0.2s ease-in-out;

    &:hover {
      opacity: 0.8;
    }
  }
}
