@use '../../../styles/palette' as *;
@use '../../../styles/spacing' as *;
@use '../../../styles/typography' as *;

.radioButton {
  display: flex;
  align-items: center;
  margin-bottom: $radiobutton-margin-bottom;
  cursor: pointer;
  user-select: none;
  position: relative;
  
  // Tamaño por defecto (MEDIUM)
  padding-left: $radiobutton-padding-left;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    background-color: $radiobutton-bg;
    border: $radiobutton-border-width solid $radiobutton-border;
    border-radius: $radiobutton-border-radius;
    transition: all 0.2s ease;
    
    // Tamaño por defecto (MEDIUM)
    height: $radiobutton-size;
    width: $radiobutton-size;
    
    &::after {
      content: '';
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: $radiobutton-border-radius;
      background: $radiobutton-checkmark-color;
      
      // Tamaño por defecto (MEDIUM)
      width: $radiobutton-checkmark-size;
      height: $radiobutton-checkmark-size;
    }


  }

  &__label {
    color: $radiobutton-label-color;
    font-size: $radiobutton-label-font-size;
    line-height: $radiobutton-label-line-height;
    transition: color 0.2s ease;
  }

  &:hover &__input:not(:disabled) ~ &__checkmark {
    border-color: $radiobutton-hover-border;
  }

  &__input:checked ~ &__checkmark {
    background-color: $radiobutton-checked-bg;
    border-color: $radiobutton-checked-border;

    &::after {
      display: block;
    }
  }

  &__input:disabled ~ &__checkmark {
    background-color: $radiobutton-disabled-bg;
    border-color: $radiobutton-disabled-border;
    cursor: not-allowed;

    &::after {
      background-color: $radiobutton-disabled-checkmark;
    }
  }

  &__input:disabled ~ &__label {
    color: $radiobutton-label-disabled-color;
    cursor: not-allowed;
  }
  
  // Estilos para tamaño SMALL
  &--small {
    padding-left: $radiobutton-padding-left-sm;
    
    .radioButton__checkmark {
      height: $radiobutton-size-sm;
      width: $radiobutton-size-sm;
      
      &::after {
        width: $radiobutton-checkmark-size-sm;
        height: $radiobutton-checkmark-size-sm;
      }
    }
    
    .radioButton__label {
      font-size: calc(#{$radiobutton-label-font-size} - 0.125rem);
    }
  }
  
  // Estilos para tamaño LARGE
  &--large {
    padding-left: $radiobutton-padding-left-lg;
    
    .radioButton__checkmark {
      height: $radiobutton-size-lg;
      width: $radiobutton-size-lg;
      
      &::after {
        width: $radiobutton-checkmark-size-lg;
        height: $radiobutton-checkmark-size-lg;
      }
    }
    
    .radioButton__label {
      font-size: calc(#{$radiobutton-label-font-size} + 0.125rem);
    }
  }
}
