@use '../../../styles/palette' as *;
@use '../../../styles/spacing' as *;
@use '../../../styles/typography' as *;

.radioButton {
  display: flex;
  align-items: center;
  margin-bottom: $radiobutton-margin-bottom;
  cursor: pointer;
  user-select: none;
  position: relative;
  padding-left: $radiobutton-padding-left;

  &__input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  &__checkmark {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    height: $radiobutton-size;
    width: $radiobutton-size;
    background-color: $radiobutton-bg;
    border: $radiobutton-border-width solid $radiobutton-border;
    border-radius: $radiobutton-border-radius;
    transition: all 0.2s ease;

    &::after {
      content: '';
      position: absolute;
      display: none;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: $radiobutton-checkmark-size;
      height: $radiobutton-checkmark-size;
      border-radius: $radiobutton-border-radius;
      background: $radiobutton-checkmark-color;
    }
  }

  &__label {
    color: $radiobutton-label-color;
    font-size: $radiobutton-label-font-size;
    line-height: $radiobutton-label-line-height;
  }

  &:hover &__input:not(:disabled) ~ &__checkmark {
    border-color: $radiobutton-hover-border;
  }

  &__input:checked ~ &__checkmark {
    background-color: $radiobutton-checked-bg;
    border-color: $radiobutton-checked-border;

    &::after {
      display: block;
    }
  }

  &__input:disabled ~ &__checkmark {
    background-color: $radiobutton-disabled-bg;
    border-color: $radiobutton-disabled-border;
    cursor: not-allowed;

    &::after {
      background-color: $radiobutton-disabled-checkmark;
    }
  }

  &__input:disabled ~ &__label {
    color: $radiobutton-label-disabled-color;
    cursor: not-allowed;
  }
}
