// Font Weights
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
$font-weight-card-title: $font-weight-semibold;

// Line Heights
$line-height-sm: 1.25;
$line-height-md: 1.5;
$line-height-lg: 1.75;

// Font Sizes
$font-size-xs: 0.75rem;    // 12px
$font-size-sm: 0.875rem;   // 14px
$font-size-md: 1rem;       // 16px
$font-size-lg: 1.125rem;   // 18px
$font-size-xl: 1.25rem;    // 20px

// Card Typography
$card-title-font-size: $font-size-xl;      // 1.25rem / 20px
$card-subtitle-font-size: $font-size-sm;   // 0.875rem / 14px
$card-body-font-size: $font-size-md;       // 1rem / 16px
$card-body-line-height: 1.5;               // 24px

// Button Specific Typography
$button-font-weight: $font-weight-medium;
$button-line-height: $line-height-md;

// Button Font Sizes
$button-font-size-sm: $font-size-sm;
$button-font-size-md: $font-size-md;
$button-font-size-lg: $font-size-lg;

// Button Line Heights
$button-line-height-sm: $line-height-sm;
$button-line-height-md: $line-height-md;
$button-line-height-lg: $line-height-lg;

// CheckButton Typography
$checkbutton-font-size: $font-size-md;        // 16px
$checkbutton-font-size-sm: $font-size-sm;     // 14px
$checkbutton-font-size-lg: $font-size-lg;     // 18px
$checkbutton-line-height: $line-height-md;    // 1.5
$checkbutton-font-weight: $font-weight-regular;

// Icon Typography
$icon-font-size-xsmall: 1rem;      // 16px
$icon-font-size-small: 1.25rem;    // 20px
$icon-font-size-medium: 1.5rem;    // 24px
$icon-font-size-large: 2rem;       // 32px
$icon-font-size-xlarge: 2.5rem;    // 40px
$icon-line-height: 1;              // Sin unidad para que herede el tamaño de fuente
