@use '../../styles/variables' as *;

.black-color {
    background-color: $black-color !important;
}

.dark-gray-color {
    background-color: $dark-gray-color !important;
}

.gray-color {
    background-color: $gray-color !important;
}

.light-gray-color {
    background-color: $light-gray-color !important;
}

.white-color {
    background-color: $white-color !important;
}

.light-blue-color {
    background-color: $light-blue-color !important;
}

.primary-color-1 {
    background-color: $primary-color !important;
}

.primary-color-2 {
    background-color: $primary-color-2 !important;
}

.primary-color-3 {
    background-color: $primary-color-3 !important;
}

.dark-blue-color {
    background-color: $dark-blue-color !important;
}

.red-color {
    background-color: $red-color !important;
}

.orange-color {
    background-color: $orange-color !important;
}

.green-color {
    background-color: $green-color !important;
}

.yellow-color {
    background-color: $yellow-color !important;
}