@use '../../scss/variables';

.black-color {
    background-color: variables.$black-color  !important;
}

.dark-gray-color {
    background-color: variables.$dark-gray-color  !important;
}

.gray-color {
    background-color: variables.$gray-color  !important;
}

.light-gray-color {
    background-color: variables.$light-gray-color  !important;
}

.white-color {
    background-color: variables.$white-color  !important;
}

.light-blue-color {
    background-color: variables.$light-blue-color  !important;
}

.primary-color-1 {
    background-color: variables.$primary-color-1  !important;
}

.primary-color-2 {
    background-color: variables.$primary-color-2  !important;
}

.primary-color-3 {
    background-color: variables.$primary-color-3  !important;
}

.dark-blue-color {
    background-color: variables.$dark-blue-color  !important;
}

.red-color {
    background-color: variables.$red-color  !important;
}

.orange-color {
    background-color: variables.$orange-color  !important;
}

.green-color {
    background-color: variables.$green-color  !important;
}

.yellow-color {
    background-color: variables.$yellow-color  !important;
}