@use '../../../../scss/variables';
@use '../../../../scss/functions';

$size-md: 18;
$border: 1;
$border-2: 2;
$label-height: 18;
$label-padding-top: 1;
$label-padding-left: 8;
$label-line-height: 18;

.checkbutton {
	text-align: left;
	display: inline-flex;
	justify-content: center;
	align-items: center;

	& label {
		font-size: calculateSizeVW(variables.$font-size-control);
		position: initial;
		height: calculatesizevw($label-height);
		padding-top: calculatesizevw($label-padding-top);
		padding-left: calculatesizevw($label-padding-left);
		cursor: pointer;
		line-height: calculatesizevw($label-line-height);
		display: inline-block;
		color: variables.$black-color;
	}

	& input[type='checkbox'] {
		position: relative;
		cursor: pointer;
		width: calculatesizevw($size-md);
		height: calculatesizevw($size-md);
		margin: 0;
		appearance: initial;
	}

	& input[type='checkbox']::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: variables.$white-color 0% 0% no-repeat padding-box;
		border: calculateSizeVW($border) solid variables.$black-color;
		opacity: 1;
	}

	& input[type='checkbox']:checked::before {
		content: '';
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background: variables.$primary-color-1;
		border: calculateSizeVW($border) solid variables.$black-color;
		opacity: 1;
	}

	& input[type='checkbox']:checked::after {
		content: '';
		width: 30%;
		height: 60%;
		background: transparent;
		border-bottom: solid calculateSizeVW($border-2) variables.$white-color;
		border-right: solid calculateSizeVW($border-2) variables.$white-color;
		display: block;
		margin: calculatesizevw($border-2) auto auto;
		transform: rotate(35deg);
		transform: rotate(35deg);
		transform: rotate(35deg);
	}

	&.required {
		&>label {
			color: variables.$red-color;
		}

		&>input[type='checkbox']::before,
		&>input[type='checkbox']:checked::before {
			border: calculateSizeVW($border) solid variables.$red-color;
		}
	}
}

@media screen and (min-width: calculateSizePX(functions.$min-with-screen)) {
	.checkbutton {
		& label {
			font-size: calculateSizePX(variables.$font-size-control);
			height: calculatesizepx($label-height);
			padding-top: calculatesizepx($label-padding-top);
			padding-left: calculatesizepx($label-padding-left);
			line-height: calculatesizepx($label-line-height);
		}

		& input[type='checkbox'] {
			width: calculatesizepx($size-md);
			height: calculatesizepx($size-md);
		}

		& input[type='checkbox']::before {
			border: calculateSizePX($border) solid variables.$black-color;
		}

		& input[type='checkbox']:checked::before {
			border: calculateSizePX($border) solid variables.$black-color;
		}

		& input[type='checkbox']:checked::after {
			border-bottom: solid calculateSizePX($border-2) variables.$white-color;
			border-right: solid calculateSizePX($border-2) variables.$white-color;
			margin-top: calculatesizepx($border-2);
		}

		&.required {
			&>input[type='checkbox']::before,
			&>input[type='checkbox']:checked::before {
				border: calculateSizePX($border) solid variables.$red-color;
			}
		}
	}
}

@media (hover: none),
(pointer: coarse) {
	// * functions.$size-mobile
	// calculateSizeVW
	.checkbutton {
		& label {
			font-size: calculateSizeVW(variables.$font-size-control * functions.$size-mobile);
			height: calculateSizeVW($label-height * functions.$size-mobile);
			padding-top: calculateSizeVW($label-padding-top * functions.$size-mobile);
			padding-left: calculateSizeVW($label-padding-left * functions.$size-mobile);
			line-height: calculateSizeVW($label-line-height * functions.$size-mobile);
		}

		& input[type='checkbox'] {
			width: calculateSizeVW($size-md * functions.$size-mobile);
			height: calculateSizeVW($size-md * functions.$size-mobile);
		}

		& input[type='checkbox']::before {
			border: calculateSizeVW($border * functions.$size-mobile) solid variables.$black-color;
		}

		& input[type='checkbox']:checked::before {
			border: calculateSizeVW($border * functions.$size-mobile) solid variables.$black-color;
		}

		& input[type='checkbox']:checked::after {
			border-bottom: solid calculateSizeVW($border-2 * functions.$size-mobile) variables.$white-color;
			border-right: solid calculateSizeVW($border-2 * functions.$size-mobile) variables.$white-color;
			margin-top: calculateSizeVW($border-2 * functions.$size-mobile);
		}

		&.required {
			&>input[type='checkbox']::before,
			&>input[type='checkbox']:checked::before {
				border: calculateSizeVW($border * functions.$size-mobile) solid variables.$red-color;
			}
		}
	}
}

@media (hover: none),
(pointer: coarse) {
	.checkbutton {
		& label {
			font-size: calculateSizeVW(variables.$font-size-control * functions.$size-mobile-h);
			height: calculateSizeVW($label-height * functions.$size-mobile-h);
			padding-top: calculateSizeVW($label-padding-top * functions.$size-mobile-h);
			padding-left: calculateSizeVW($label-padding-left * functions.$size-mobile-h);
			line-height: calculateSizeVW($label-line-height * functions.$size-mobile-h);
		}

		& input[type='checkbox'] {
			width: calculateSizeVW($size-md * functions.$size-mobile-h);
			height: calculateSizeVW($size-md * functions.$size-mobile-h);
		}

		& input[type='checkbox']::before {
			border: calculateSizeVW($border * functions.$size-mobile-h) solid variables.$black-color;
		}

		& input[type='checkbox']:checked::before {
			border: calculateSizeVW($border * functions.$size-mobile-h) solid variables.$black-color;
		}

		& input[type='checkbox']:checked::after {
			border-bottom: solid calculateSizeVW($border-2 * functions.$size-mobile-h) variables.$white-color;
			border-right: solid calculateSizeVW($border-2 * functions.$size-mobile-h) variables.$white-color;
			margin-top: calculateSizeVW($border-2 * functions.$size-mobile-h);
		}

		&.required {
			&>input[type='checkbox']::before,
			&>input[type='checkbox']:checked::before {
				border: calculateSizeVW($border * functions.$size-mobile-h) solid variables.$red-color;
			}
		}
	}
}