@import '../variables.scss';
@import '../functions.scss';

$padding: 8;
$padding-v: 10;
$padding-h: 16;
$font-size-normal: $fs-18;

/* Style the list */
ul.breadcrumb {
  padding: calculateSizeVW($padding-v) calculateSizeVW($padding-h);
  list-style: none;
  // background-color: #eee;
}

/* Display list items side by side */
ul.breadcrumb li {
  display: inline;
  font-size: calculateSizeVW($font-size-normal);
}

/* Add a slash symbol (/) before/behind each list item */
ul.breadcrumb li+li:before {
  padding: calculateSizeVW($padding);
  ;
  color: black;
  content: "/\00a0";
}

/* Add a color to all links inside the list */
ul.breadcrumb li a {
  color: #0275d8;
  text-decoration: none;
}

/* Add a color on mouse-over */
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}

@media screen and (min-width: calculateSizePX($min-with-screen)) {

  /* Style the list */
  ul.breadcrumb {
    padding: calculateSizeVW($padding-v) calculateSizeVW($padding-h);
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    font-size: calculateSizeVW($font-size-normal);
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: calculateSizeVW($padding);
  }
}

@media (hover: none),
(pointer: coarse) {

  /* Style the list */
  ul.breadcrumb {
    padding: calculateSizeVW($padding-v * $size-mobile) calculateSizeVW($padding-h * $size-mobile);
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    font-size: calculateSizeVW($font-size-normal * $size-mobile);
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: calculateSizeVW($padding * $size-mobile);
  }
}


@media (hover: none),
(pointer: coarse) {

  /* Style the list */
  ul.breadcrumb {
    padding: calculateSizeVW($padding-v * $size-mobile-h) calculateSizeVW($padding-h * $size-mobile-h);
  }

  /* Display list items side by side */
  ul.breadcrumb li {
    font-size: calculateSizeVW($font-size-normal * $size-mobile-h);
  }

  /* Add a slash symbol (/) before/behind each list item */
  ul.breadcrumb li+li:before {
    padding: calculateSizeVW($padding * $size-mobile-h);
  }
}