@import '../variables.scss';
@import '../functions.scss';

$padding: 15;

.footer {
    padding: calculateSizeVW($padding);
    margin-bottom: calculateSizeVW($margin-bottom);
    border-top: 1px solid transparent;
    width: 100%;
    text-align: center;

    color: $light-blue-color;
    background-color: $light-gray-color;
    border-color: $gray-color;
}

@media only screen and (min-width: calculateSizePX($min-with-screen)) {
    .footer {
        padding: calculateSizePX($padding);
    }
}

@media screen and (max-width: calculateSizePX($max-with-screen)) and (hover: hover) and (pointer: fine) {
    .footer {
        padding: calculateSizeVW($padding * $size-mobile);
    }
}