@import '../variables.scss';
@import '../functions.scss';

$size-lg: 48;
$size-md: 36;
$size-sm: 30;
$size-xs: 24;

.container-icon {
	display: inline-block;
	color: $primary-color-1;

	&.lg > .material-icons {
		font-size: calculateSizeVW($size-lg);
	}
	&.md > .material-icons {
		font-size: calculateSizeVW($size-md);
	}
	&.sm > .material-icons {
		font-size: calculateSizeVW($size-sm);
	}
	&.xs > .material-icons {
		font-size: calculateSizeVW($size-xs);
	}
}

@media only screen and (min-width: calculateSizePX($min-height-screen)) {
	.container-icon {
		&.lg > .material-icons {
			font-size: calculateSizePX($size-lg);
		}
		&.md > .material-icons {
			font-size: calculateSizePX($size-md);
		}
		&.sm > .material-icons {
			font-size: calculateSizePX($size-sm);
		}
		&.xs > .material-icons {
			font-size: calculateSizePX($size-xs);
		}
	}
}
