@import '../variables.scss';
@import '../functions.scss';


$margin-h:0;
$margin-v:0;

.imageButton {

    display: inline-block;
    text-decoration: none;
    margin: calculateSizeVW($margin-v) calculateSizeVW($margin-h);
    opacity: 1;
    cursor: pointer;
    width: auto;
    border: 0px;
    background-color: transparent;

    &.disabled {
        opacity: $disabled-opacity
    }

}

@media only screen and (min-width: calculateSizePX($min-height-screen)) {
   
    .imageButton {
        margin: calculateSizePX($margin-v) calculateSizePX($margin-h);
    }

}