@import '../variables.scss';
@import '../functions.scss';

$padding: 15;
$margin-bottom: 20;
$border-radius: 4;

.message {
    padding: calculateSizeVW($padding);
    margin-bottom: calculateSizeVW($margin-bottom);
    border: 1px solid transparent;
    border-radius: calculateSizeVW($border-radius);
    width: 100%;

    &.message-danger {
        color: $red-color;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    &.message-warning {
        color: $orange-color;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    &.message-success {
        color: $green-color;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    &.message-info {
        color: $light-blue-color;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

@media screen and (min-width: calculateSizePX($min-with-screen)) {
    .message {
        padding: calculateSizePX($padding);
        margin-bottom: calculateSizePX($margin-bottom);
        border-radius: calculateSizePX($border-radius);
    }
}


@media 
(hover: none),
(pointer: coarse) {
    .message {
        padding: calculateSizeVW($padding * $size-mobile);
        margin-bottom: calculateSizeVW($margin-bottom * $size-mobile);
        border-radius: calculateSizeVW($border-radius * $size-mobile);
    }
}