@use '../variables';
@use '../functions';

$padding: 15;
$margin-bottom: 20;
$border-radius: 4;

.message {
    padding: calculatesizevw($padding);
    margin-bottom: calculatesizevw($margin-bottom);
    border: 1px solid transparent;
    border-radius: calculatesizevw($border-radius);
    width: 100%;

    &.message-danger {
        color: variables.$red-color;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    &.message-warning {
        color: variables.$orange-color;
        background-color: #fcf8e3;
        border-color: #faebcc;
    }

    &.message-success {
        color: variables.$green-color;
        background-color: #dff0d8;
        border-color: #d6e9c6;
    }

    &.message-info {
        color: variables.$light-blue-color;
        background-color: #d9edf7;
        border-color: #bce8f1;
    }
}

@media screen and (min-width: calculateSizePX(functions.$min-with-screen)) {
    .message {
        padding: calculatesizepx($padding);
        margin-bottom: calculatesizepx($margin-bottom);
        border-radius: calculatesizepx($border-radius);
    }
}

@media (hover: none),
(pointer: coarse) {
    .message {
        padding: calculateSizeVW($padding * functions.$size-mobile);
        margin-bottom: calculateSizeVW($margin-bottom * functions.$size-mobile);
        border-radius: calculateSizeVW($border-radius * functions.$size-mobile);
    }
}

@media (hover: none),
(pointer: coarse) {
    .message {
        padding: calculateSizeVW($padding * functions.$size-mobile-h);
        margin-bottom: calculateSizeVW($margin-bottom * functions.$size-mobile-h);
        border-radius: calculateSizeVW($border-radius * functions.$size-mobile-h);
    }
}