@import '../variables.scss';
@import '../functions.scss';

$padding-v: 24;
$padding-h: 18;
$height: 60;
$margin-bottom: 20;
$padding: 20;

.container-nav-bar {
	width: auto;
	max-width: calculateSizeVW($min-with-screen);
	height: auto;
	min-height: calculateSizeVW($height);
	margin-bottom: calculateSizeVW($margin-bottom);
	box-shadow: $shadow-flat;
	min-height: calculateSizeVW($height);
	padding-top: calculateSizeVW($padding);
	padding-bottom: calculateSizeVW($padding);


	.topnav {
		background-color: $primary-color-1;
	}

	.topnav label {
		color: $white-color;
		text-align: center;
		padding: calculateSizeVW($padding-v) calculateSizeVW($padding-h);
		text-decoration: none;
		cursor: pointer;
		opacity: 0.6;
	}

	.topnav label:hover {
		color: $white-color;
		opacity: 1;
	}

	.topnav label.active {
		color: $white-color;
		opacity: 1;
	}

	.topnav-right {
		float: right;
	}
}

@media screen and (min-width: calculateSizePX($min-with-screen)) {
	.container-nav-bar {
		height: calculateSizePX($height);
		margin-bottom: calculateSizePX($margin-bottom);
		padding-top: calculateSizePX($padding);
		padding-bottom: calculateSizePX($padding);

		max-width: calculateSizePX($min-with-screen);
		min-height: calculateSizePX($height);
		margin-bottom: calculateSizePX($margin-bottom);
		min-height: calculateSizePX($height);
		padding-top: calculateSizePX($padding);
		padding-bottom: calculateSizePX($padding);

		.topnav label {
			padding: calculateSizePX($padding-v) calculateSizePX($padding-h);
		}
	}
}

@media 
(hover: none),
(pointer: coarse) {
	.container-nav-bar {
		// height: calculateSizeVW($height * $size-mobile);
		margin-bottom: calculateSizeVW($margin-bottom * $size-mobile);

		.topnav label {
			padding: calculateSizeVW($padding-v * $size-mobile) calculateSizeVW($padding-h * $size-mobile);
		}
	}
}