@import '../variables.scss';
@import '../functions.scss';

$padding: 12;

table {
	width: 100%;
	background-color: $white-color;
	overflow-x: auto;
	padding: calculateSizeVW($padding);

	&.big-table {
		display: block;
	}

	& tbody {
		padding: calculateSizeVW($padding);

		& tr {
			text-align: justify;
			padding: calculateSizeVW($padding);

			& th {
				border-bottom: 2px solid $primary-color-1;
				padding: calculateSizeVW($padding);
			}

			& td {
				border-top: 1px solid $primary-color-1;
				padding: calculateSizeVW($padding);
				vertical-align: top;
			}

			&.active {
				&:hover {
					background-color: $light-gray-color;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (min-width: calculateSizePX($min-with-screen)) {
	table {
		padding: calculateSizePX($padding);

		& tbody {
			padding: calculateSizePX($padding);

			& tr {
				padding: calculateSizePX($padding);

				& th {
					border-bottom: 2px solid $primary-color-1;
					padding: calculateSizePX($padding);
				}

				& td {
					border-top: 1px solid $primary-color-1;
					padding: calculateSizePX($padding);
				}
			}
		}
	}
}

@media (hover: none),
(pointer: coarse) {

	// * $size-mobile
	// calculateSizeVW
	table {
		padding: calculateSizeVW($padding * $size-mobile);

		& tbody {
			padding: calculateSizeVW($padding * $size-mobile);

			& tr {
				padding: calculateSizeVW($padding * $size-mobile);

				& th {
					border-bottom: 2px solid $primary-color-1;
					padding: calculateSizeVW($padding * $size-mobile);
				}

				& td {
					border-top: 1px solid $primary-color-1;
					padding: calculateSizeVW($padding * $size-mobile);
				}
			}
		}
	}
}

@media (orientation: portrait) {
	table {
		padding: calculateSizeVW($padding * $size-mobile-h);

		& tbody {
			padding: calculateSizeVW($padding * $size-mobile-h);

			& tr {
				padding: calculateSizeVW($padding * $size-mobile-h);

				& th {
					border-bottom: 2px solid $primary-color-1;
					padding: calculateSizeVW($padding * $size-mobile-h);
				}

				& td {
					border-top: 1px solid $primary-color-1;
					padding: calculateSizeVW($padding * $size-mobile-h);
				}
			}
		}
	}
}