@import '../variables.scss';
@import '../functions.scss';

$padding: 12;

table {
	width: 100%;
	display: block;
	background-color: $white-color;
	overflow-x: scroll;

	& tbody {

		& tr {
			text-align: justify;
			padding: calculateSizeVW($padding);

			& th {
				border-bottom: 2px solid $primary-color-1;
				padding: calculateSizeVW($padding);
			}

			& td {
				border-top: 1px solid $primary-color-1;
				padding: calculateSizeVW($padding);
				vertical-align: top;
			}

			&.active {
				&:hover {
					background-color: $light-gray-color;
					cursor: pointer;
				}
			}
		}
	}
}

@media screen and (min-width: calculateSizePX($min-with-screen)) and (hover: hover) and (pointer: fine) {
	table {
		& tbody {
			& tr {
				padding: calculateSizePX($padding);

				& th {
					border-bottom: 2px solid $primary-color-1;
					padding: calculateSizePX($padding);
				}

				& td {
					border-top: 1px solid $primary-color-1;
					padding: calculateSizePX($padding);
				}
			}
		}
	}
}

@media screen and (max-width: calculateSizePX($max-with-screen)) and (hover: hover) and (pointer: fine) {
	// * $size-mobile
	// calculateSizeVW
	table {
		& tbody {
			& tr {
				padding: calculateSizeVW($padding * $size-mobile);

				& th {
					border-bottom: 2px solid $primary-color-1;
					padding: calculateSizeVW($padding * $size-mobile);
				}

				& td {
					border-top: 1px solid $primary-color-1;
					padding: calculateSizeVW($padding * $size-mobile);
				}
			}
		}
	}
}