@import '../variables.scss';
@import '../functions.scss';


$padding-h:8;
$padding-v:5;
$line-height: 18;

.textButton {
    display: block;
    text-decoration: none;
    padding:  calculateSizeVW($padding-v) calculateSizeVW($padding-h);
    text-align: left;
    letter-spacing: 0px;
    line-height: calculateSizeVW($line-height);
    opacity: 1;
    cursor: pointer;

    &.disabled {
        opacity: $disabled-opacity
    }

    &.primary {
        background-color: $blue-color;
        color: $white-color;
        border: calculateSizeVW($border-size) solid $blue-color;
    }

    &.secundary {
        background-color: $white-color;
        color: $blue-color;
        border: calculateSizeVW($border-size) solid $blue-color;
    }
}

@media only screen and (min-width: calculateSizePX($min-height-screen)) {
    .textButton {
        padding:  calculateSizePX($padding-v) calculateSizePX($padding-h);
        line-height: calculateSizePX($line-height);

        &.primary {
            border: calculateSizePX($border-size) solid $blue-color;
        }
    
        &.secundary {
            border: calculateSizePX($border-size) solid $blue-color;
        }
    }
}