@use '../variables';
@use '../functions';

$padding-h: 8;
$padding-v: 5;
$line-height: 18;

.textButton {
	display: block;
	text-decoration: none;
	padding: calculatesizevw($padding-v) calculatesizevw($padding-h);
	text-align: left;
	letter-spacing: 0;
	line-height: calculatesizevw($line-height);
	opacity: 1;
	cursor: pointer;

	&.disabled {
		opacity: variables.$disabled-opacity;
	}

	&.primary {
		background-color: variables.$primary-color-1;
		color: variables.$white-color;
		border: calculateSizeVW($border-size) solid variables.$primary-color-1;
	}

	&.secundary {
		background-color: variables.$white-color;
		color: variables.$primary-color-1;
		border: calculateSizeVW($border-size) solid variables.$primary-color-1;
	}
}

@media screen and (min-width: calculateSizePX(functions.$min-with-screen)) {
	.textButton {
		padding: calculatesizepx($padding-v) calculatesizepx($padding-h);
		line-height: calculatesizepx($line-height);

		&.primary {
			border: calculateSizePX($border-size) solid variables.$primary-color-1;
		}

		&.secundary {
			border: calculateSizePX($border-size) solid variables.$primary-color-1;
		}
	}
}

@media (hover: none),
(pointer: coarse) {
	.textButton {
		padding: calculateSizeVW($padding-v * functions.$size-mobile) calculateSizeVW($padding-h * functions.$size-mobile);
		line-height: calculateSizeVW($line-height * functions.$size-mobile);

		&.primary {
			border: calculateSizeVW($border-size * functions.$size-mobile) solid variables.$primary-color-1;
		}

		&.secundary {
			border: calculateSizeVW($border-size * functions.$size-mobile) solid variables.$primary-color-1;
		}
	}
}

@media (hover: none),
(pointer: coarse) {
	.textButton {
		padding: calculateSizeVW($padding-v * functions.$size-mobile-h) calculateSizeVW($padding-h * functions.$size-mobile-h);
		line-height: calculateSizeVW($line-height * functions.$size-mobile-h);

		&.primary {
			border: calculateSizeVW($border-size * functions.$size-mobile-h) solid variables.$primary-color-1;
		}

		&.secundary {
			border: calculateSizeVW($border-size * functions.$size-mobile-h) solid variables.$primary-color-1;
		}
	}
}