@import '../variables.scss';
@import '../functions.scss';

.title{
    display: flex;
    width: 100%;

    .line {
        flex: 1 1 auto;
        background-color: $black-color;
        width: max-content;
        //position: relative;
        margin-left: calculateSizeVW(12);
        margin-top: calculateSizeVW(19);
        height: calculateSizeVW(4);
        top: calculateSizeVW(23);
    }
}

@media screen and (min-width: calculateSizePX($min-height-screen)) and (hover: hover) and (pointer: fine) {
    .title {
        .line {
            margin-left: 12px;
            margin-top: 19px;
            height: 4px;
            top: 23px;
        }
    }
}
