@use './variables.scss';

// backgroung color
.bg-primary-1 {
	background-color: variables.$primary-color-1  !important;
}

.bg-primary-2 {
	background-color: variables.$primary-color-2  !important;
}

.bg-primary-3 {
	background-color: variables.$primary-color-3  !important;
}

.bg-white {
	background-color: variables.$white-color  !important;
}

.bg-light-gray {
	background-color: variables.$light-gray-color  !important;
}

.bg-gray {
	background-color: variables.$gray-color  !important;
}

// font color
.font-blue {
	color: variables.$primary-color-1  !important;
}

.font-red {
	color: variables.$red-color  !important;
}

.font-orange {
	color: variables.$orange-color  !important;
}

.font-green {
	color: variables.$green-color  !important;
}

.font-yellow {
	color: variables.$yellow-color  !important;
}

.font-white {
	color: variables.$white-color  !important;
}

.font-gray {
	color: variables.$dark-gray-color  !important;
}