@use './variables.scss';
@use './functions.scss';

h1 {
	font-size: calculateSizeVW(variables.$fs-36);
}

h2 {
	font-size: calculateSizeVW(variables.$fs-30);
}

h3 {
	font-size: calculateSizeVW(variables.$fs-26);
}

h4 {
	font-size: calculateSizeVW(variables.$fs-24);
}

.font-22 {
	display: inline;
	font-size: calculateSizeVW(variables.$fs-22);
}

.font-20 {
	display: inline;
	font-size: calculateSizeVW(variables.$fs-20);
}

.font-18 {
	display: inline;
	font-size: calculateSizeVW(variables.$fs-18);
}

.font-16 {
	display: inline;
	font-size: calculateSizeVW(variables.$fs-16);
}

.font-14 {
	display: inline;
	font-size: calculateSizeVW(variables.$fs-14);
}

.font-12 {
	display: inline;
	font-size: calculateSizeVW(variables.$fs-12);
}

.font-10 {
	display: inline;
	font-size: calculateSizeVW(variables.$fs-10);
}

.font-8 {
	display: inline;
	font-size: calculateSizeVW(variables.$fs-8);
}

.line-spacing {
	line-height: normal;
}

.line-spacing-simple {
	line-height: 1.5;
}

.line-spacing-doble {
	line-height: 2;
}

.line-spacing-triple {
	line-height: 2.5;
}

.strong {
	font-weight: bold;
}

@media screen and (min-width: calculateSizePX(functions.$min-with-screen)), (hover: none),
(pointer: coarse) {
	h1 {
		font-size: calculateSizePX(variables.$fs-36);
	}

	h2 {
		font-size: calculateSizePX(variables.$fs-30);
	}

	h3 {
		font-size: calculateSizePX(variables.$fs-26);
	}

	h4 {
		font-size: calculateSizePX(variables.$fs-24);
	}

	.font-22 {
		display: inline;
		font-size: calculateSizePX(variables.$fs-22);
	}

	.font-20 {
		display: inline;
		font-size: calculateSizePX(variables.$fs-20);
	}

	.font-18 {
		display: inline;
		font-size: calculateSizePX(variables.$fs-18);
	}

	.font-16 {
		display: inline;
		font-size: calculateSizePX(variables.$fs-16);
	}

	.font-14 {
		display: inline;
		font-size: calculateSizePX(variables.$fs-14);
	}

	.font-12 {
		display: inline;
		font-size: calculateSizePX(variables.$fs-12);
	}

	.font-10 {
		display: inline;
		font-size: calculateSizePX(variables.$fs-10);
	}

	.font-8 {
		display: inline;
		font-size: calculateSizePX(variables.$fs-8);
	}
}


@media (hover: none),
(pointer: coarse) {

	// * functions.$size-mobile-h
	// calculateSizeVW
	h1 {
		font-size: calculateSizeVW(variables.$fs-36 * functions.$size-mobile);
	}

	h2 {
		font-size: calculateSizeVW(variables.$fs-30 * functions.$size-mobile);
	}

	h3 {
		font-size: calculateSizeVW(variables.$fs-26 * functions.$size-mobile);
	}

	h4 {
		font-size: calculateSizeVW(variables.$fs-24 * functions.$size-mobile);
	}

	.font-22 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-22 * functions.$size-mobile);
	}

	.font-20 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-20 * functions.$size-mobile);
	}

	.font-18 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-18 * functions.$size-mobile);
	}

	.font-16 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-16 * functions.$size-mobile);
	}

	.font-14 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-14 * functions.$size-mobile);
	}

	.font-12 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-12 * functions.$size-mobile);
	}

	.font-10 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-10 * functions.$size-mobile);
	}

	.font-8 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-8 * functions.$size-mobile);
	}
}

@media (hover: none),
(pointer: coarse) {

	// * functions.$size-mobile
	// calculateSizeVW
	h1 {
		font-size: calculateSizeVW(variables.$fs-36 * functions.$size-mobile-h);
	}

	h2 {
		font-size: calculateSizeVW(variables.$fs-30 * functions.$size-mobile-h);
	}

	h3 {
		font-size: calculateSizeVW(variables.$fs-26 * functions.$size-mobile-h);
	}

	h4 {
		font-size: calculateSizeVW(variables.$fs-24 * functions.$size-mobile-h);
	}

	.font-22 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-22 * functions.$size-mobile-h);
	}

	.font-20 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-20 * functions.$size-mobile-h);
	}

	.font-18 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-18 * functions.$size-mobile-h);
	}

	.font-16 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-16 * functions.$size-mobile-h);
	}

	.font-14 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-14 * functions.$size-mobile-h);
	}

	.font-12 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-12 * functions.$size-mobile-h);
	}

	.font-10 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-10 * functions.$size-mobile-h);
	}

	.font-8 {
		display: inline;
		font-size: calculateSizeVW(variables.$fs-8 * functions.$size-mobile-h);
	}
}