
$black-color: #333333;
$dark-gray-color: #666666;
$gray-color: #999999;
$light-gray-color: #eeeeee;
$white-color: #ffffff;
$light-blue-color: lightblue;
$blue-color: #3483fa;
$dark-blue-color: darkblue;
$red-color: red;
$orange-color: orange;
$green-color: green;

$fs-36: 36;
$fs-30: 30;
$fs-26: 26;
$fs-24: 24;


$fs-22: 22;
$fs-20: 20;
$fs-18: 18;
$fs-16: 16;
$fs-14: 14;
$fs-12: 12;
$fs-10: 10;
$fs-8: 8;

$font-size-control: $fs-18;
$disabled-opacity: 0.5;
